<div class="status-conexao">
  Status do WebSocket:
  <span [class.conectado]="conectado" [class.desconectado]="!conectado">
    {{ conectado ? 'Conectado' : 'Desconectado' }}
  </span>
</div>
<div class="container">
  <a class="back-button" routerLink="/home" title="Voltar"> &#8592; </a>
  <h2>Dados de Outros Grupos</h2>

  <div class="resumo">
    <h4>Resumo Global de Processamento do Core</h4>
    <p>Total de lotes processados: {{ totalLotesProcessadosGlobal }}</p>
    <p>Total de itens processados: {{ totalItensDeDadosProcessadosGlobal }}</p>
  </div>

  @if (tiposDisponiveis.length > 0) {
    <label for="tipo"><strong>Escolha um grupo: </strong></label>
    <select id="tipo" [(ngModel)]="tipoSelecionado" (change)="aoSelecionarTipo(tipoSelecionado)">
      @for (tipo of tiposDisponiveis; track $index) {
        <option [value]="tipo">
          {{ tipo }}
        </option>
      }
    </select>
  } @else {
    <br />
    <span>Carregando grupos</span>
    <mat-progress-bar class="progress-spinner" mode="indeterminate"></mat-progress-bar>
  }

  <app-exibicao-resultado
    [tipoSelecionado]="tipoSelecionado || ''"
    [listaSelecionada]="listaSelecionada"
  ></app-exibicao-resultado>
</div>
