<div class="dashboard-container">
  <div class="dashboard-title">Bem-vindo ao trabalho de Sistemas Distribuídos</div>

  <div class="cards-wrapper">
    <div class="access-card">
      <div class="card-title">Sistema de Votação GP2</div>
      <a class="access-button" [routerLink]="hasValidToken()">Acessar</a>
    </div>

    <div class="access-card">
      <div class="card-title">Outros Sistemas</div>
      <a class="access-button" routerLink="/outros-grupos">Acessar</a>
    </div>
  </div>
</div>
