.nome {
  color: black;
  font-size: larger;
  font-weight: bold;
}

.foto {
  align-self: auto;
}

.votos {
  margin-top: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  transition: transform 0.7s ease-in-out;
}

.votos.animacao {
  transform: scale(1.2);
  border-width: 3em;
}
